<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>bn</string>
    <key>CFBundleExecutable</key><string>BangluIME</string>
    <key>CFBundleIdentifier</key><string>com.banglu.inputmethod</string>
    <key>CFBundleName</key><string>Banglu</string>
    <key>CFBundleDisplayName</key><string>বাংলু</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.0.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSBackgroundOnly</key><true/>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>InputMethodConnectionName</key><string>Banglu_Connection</string>
    <key>InputMethodServerControllerClass</key><string>BangluInputController</string>
    <key>TISInputSourceID</key><string>com.banglu.inputmethod</string>
    <key>TISIntendedLanguage</key><string>bn</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array><string>Beng</string></array>
    <key>tsInputMethodIconFileKey</key><string>menuicon.png</string>
</dict>
</plist>
